---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
---

<Layout title="Last Choice">
  <header class="fixed top-0 left-0 right-0 z-10 flex justify-between items-center p-4 bg-transparent">
    <img src="./favicon.svg" alt="">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </header>
  
  <!-- Contenido principal centrado un poco más arriba -->
  <main class="flex-1 flex justify-center items-center h-screen relative">
    <div class="flex flex-col justify-center items-center gap-6 text-appear absolute inset-0 z-0 transform translate-y-[-10%]"> <!-- Mover un poco hacia arriba -->
      <Title/>
      <p class="text-xl font-light text-blue-200 text-center">The home  <span class="font-semibold text-red-500">always wins</span>, Don't forget it. <br> But now, you are at <span class="font-bold text-green-500">home</span> </p>
    </div>
  </main>
</Layout>

<style>
.text-appear {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Ajuste para centrar en el contenido en pantalla */
main {
  height: 100vh; /* Ocupa toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Ajuste de la posición del contenido */
.translate-y-[-10%] {
  transform: translateY(-10%);
}

</style>
