---
interface Props {
	title: string;
}

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="Last Choice" />
		<title>Last Choice</title>
	</head>
	
	<body>
		<div class="absolute inset-0 -z-10 h-full w-full bg-slate-950/85 bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_2px,transparent_2px)] bg-[size:14px_24px]"></div>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'CodeFont';
		src: url(/public/fonts/digital-7.ttf) format('truetype');
		font-weight: normal;
		font-style: normal;

	}
	* {
		box-sizing: border-box;
	}
	body {
		background:  linear-gradient(to bottom, #0004ff, #020024);
		background-size: cover;
		background-attachment: fixed;
		font-family: sans-serif;
		margin: 0;
		padding: 0;
	}
	header {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
	}
	header img {
		height: 2rem;
	}
	header ul {
		display: flex;
		list-style: none;
	}
	header li {
		margin-right: 1rem;
	}
	header a {
		color: rgb(255, 255, 255);
		text-decoration: none;
	}
	main {
		padding: 1rem;
	}
</style>


